*{
    margin: 0;
	padding: 0;

}
body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 100%;
background: #388C96;

/* FF3.6+ */
background: -moz-linear-gradient(top, #388C96 0%, #91F2FF 22%, #99541A 84%, #E69454 100%);
/* Chrome,Safari4+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E69454), color-stop(22%, #91F2FF), color-stop(84%, #99541A), color-stop(100%, #E69454));
/* Chrome10+,Safari5.1+ */
background: -webkit-linear-gradient(top, #388C96 0%, #91F2FF 22%, #99541A 84%, #E69454 100%);
/* Opera 11.10+ */
background: -o-linear-gradient(top, #388C96 0%, #91F2FF 22%, #99541A 84%, #E69454 100%);
/* IE10+ */
background: -ms-linear-gradient(top, #388C96 0%, #91F2FF 22%, #99541A 84%, #E69454 100%);
/* W3C */
background: linear-gradient(to bottom, #388C96 0%, #91F2FF 22%, #99541A 84%, #E69454 100%);
/* IE6-9 */C
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#388C96   ', endColorstr='#E69454', GradientType=0);
}
.imagenes{
    text-align: left;
    padding-left: 200px;
}
img{
    margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 180px;
	height: 250px;
   float: left;
    
	
}
.cartelera{
    margin: 0 auto;
	padding: 0 auto	;
	width: 100%;
	max-width: 940px;
	border-left: black 2px;
	overflow: hidden;
	float: left;

}
h2{ 
    padding-top: 30px;
    margin-left: 30px;    
}
.titulos{
    text-align: center;
    padding-top: 0px;
}
.peliculas{
    border-bottom: 2px solid #9E9E9E;
    overflow: hidden;
    position: relative;
}
